@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");

* {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

div.greetings {
    color: #e0e0e0;
    margin-left: 2%;
    margin-top: 5%;
}
div.greetings>h3.hello {
    display: block;
    margin-bottom: 1px;
    font-size: 1rem;
}
div.greetings>h2.name {
    display: block;
    margin-left: 1em;
    margin-bottom: 10px;
    font-size: 1.2rem;
}
div.greetings>span.introduceText {
    display: block;
    margin-top: 1em;
    font-size: 0.8em;
    width: 10rem;
    color: #7f7f7f;
}
div.greetings>a.HireMe {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-left: 1rem;
    width: 5rem;
    padding: 0.2rem;
    text-align: center;
    background-color: #121212;
    background-image: linear-gradient(to top left, #121212, #474747);
    text-decoration: none;
    color: aliceblue;
    border-radius: 10%;
    border: solid 2px #121212;
    border-image: linear-gradient(to bottom right, #121212, #474747);
    border-width: 4px;
}
div.greetings>a.HireMe:hover {
    box-shadow: 0px 0px 15px 3px #7f7f7f;
    color: #e0e0e0;
    border: solid 2px #0c0c0c;
    text-decoration: underline;
    background-image: linear-gradient(to top left, #474747, #121212);
    border-radius: 10%;
    border: solid 2px #626262;
    border-image: linear-gradient(to bottom right, #474747, #121212);
    border-width: 4px;
}

div.image-half-round-shape {
    top: 8rem;
    left: 10rem;
    position: absolute;
    width: 5rem;
    height: 10rem;
    border-top-right-radius: 250px;
    border-bottom-right-radius: 250px;
    border: 1px solid #fff;
    border-left: 0;
    z-index: -1;
}
div.image-half-round-shape-left {
    top: 9rem;
    left: 8rem;
    position: absolute;
    width: 5rem;
    height: 8rem;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    border: 1px solid #fff;
    border-left: 0;
    z-index: -1;
}
div.image-half-round-shape-right {
    top: 7rem;
    left: 11rem;
    position: absolute;
    width: 6rem;
    height: 12rem;
    border-top-right-radius: 250px;
    border-bottom-right-radius: 250px;
    border: 1px solid #fff;
    border-left: 0;
    z-index: -1;
}
div.socialLinks>a.github {
    display: block;
    text-align: center;
    color: #fff;
    left: 12rem;
    top: 8rem;
    width: 3rem;
    height: 3rem;
    font-size: 16px;
    border-radius: 50%;
    border: 1px solid #fff;
    z-index: 1;
    position: absolute;
    background: #0b144e;
    background-image: linear-gradient(to bottom right, #050c37, rgba(15, 106, 15, 0.552));
}
div.socialLinks>a.github:hover {
    color: #000000;
    border: 1px solid #fff;
    background: #3c7aff;
    background-image: linear-gradient(to bottom right, #050c37, rgba(15, 106, 15, 0.552));
}
div.socialLinks>a.linkedIn {
    display: block;
    text-align: center;
    color: #fff;
    left: 12rem;
    top: 15rem;
    width: 3rem;
    height: 3rem;
    font-size: 16px;
    border-radius: 50%;
    border: 1px solid #fff;
    z-index: 1;
    position: absolute;
    background: #0b144e;
    background-image: linear-gradient(to bottom right, #050c37, rgba(15, 106, 15, 0.552));
}
div.socialLinks>a.linkedIn:hover {
    color: #000000;
    border: 1px solid #fff;
    background: #3c7aff;
    background-image: linear-gradient(to bottom right, #050c37, rgba(15, 106, 15, 0.552));
}
div.socialLinks>a>i.fa-brands {
    margin-top: 49%;
}

div.service-wrapper {
    display: block;
    margin-top: 1.5rem;
    border-radius: 25px;
    background: rgb(38, 38, 38);
}
div.service-wrapper>div.Header {
    padding-top: 0.5rem;
}
h2.service-title {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 95%;
    font-size: 110%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background: #050c37;
    background-image: linear-gradient(to bottom right, #050c37, rgba(15, 72, 15, 0.415), #050c37);
}
div.service-wrapper>div.container {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 25px;
}
div.service-wrapper>div.container>ul.service-display {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-left: 0.2rem;
    list-style-type: none;
}
div.service-wrapper>div.container>ul.service-display>li {
    text-align: center;
    white-space: nowrap;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 4em;
    height: 17rem;
    white-space: normal;
    background: #050c37;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, #050c37, rgba(0, 73, 0, 0.415), #050c37);
}
ul.service-display>li>i {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    white-space: pre;
}
ul.service-display>li>p {
    text-decoration: underline;
    font-size: 0.8rem;
}
ul.service-display>li>ul {
    list-style-type: none;
    margin-top: 0.5em;
}
ul.service-display>li>ul>li {
    margin-top: 1rem;
    font-size: 0.6rem;
}

/* -------------------
    Responsive Media
    ------------------ */
@media screen and (max-width: 320px) {
    
}

@media screen and (min-width: 375px) {
    div.service-wrapper {
        margin-top: 2.5rem;
    }
    h2.service-title {
        width: 95%;
        font-size: 1.5rem;
    }
    div.service-wrapper>div.container>ul.service-display {
        margin-left: 0.8rem;
    }
    div.service-wrapper>div.container>ul.service-display>li {
        margin-right: 0.8rem;
        width: 4.5rem;
        height: 19rem;
    }
    ul.service-display>li>i {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 2rem;
    }
    ul.service-display>li>p {
        font-size: 0.8rem;
    }
    ul.service-display>li>ul {
        margin-top: 0.5em;
    }
    ul.service-display>li>ul>li {
        margin-top: 1rem;
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 425px) {
    div.image-half-round-shape {
        top: 9rem;
        left: 13rem;
        width: 5rem;
        height: 10rem;
    }
    div.image-half-round-shape-left {
        top: 10rem;
        left: 11rem;
        width: 5rem;
        height: 8rem;
    }
    div.image-half-round-shape-right {
        top: 8rem;
        left: 15rem;
        width: 6rem;
        height: 12rem;
    }
    div.socialLinks>a.github {
        left: 15rem;
        top: 9rem;
        width: 3rem;
        height: 3rem;
        font-size: 16px;
    }
    div.socialLinks>a.linkedIn {
        left: 15rem;
        top: 16rem;
        width: 3rem;
        height: 3rem;
        font-size: 16px;
    }
    div.service-wrapper {
        margin-top: 2.5rem;
    }
    h2.service-title {
        width: 95%;
        font-size: 1.5rem;
    }
    div.service-wrapper>div.container>ul.service-display {
        margin-left: 1.5rem;
    }
    div.service-wrapper>div.container>ul.service-display>li {
        margin-right: 1.5rem;
        width: 5rem;
        height: 20rem;
    }
    ul.service-display>li>i {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 2rem;
    }
    ul.service-display>li>p {
        font-size: 1rem;
    }
    ul.service-display>li>ul {
        margin-top: 0.5em;
    }
    ul.service-display>li>ul>li {
        margin-top: 1rem;
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 768px) {
    div.greetings>h3.hello {
        margin-bottom: 1px;
        font-size: 2rem;
    }
    div.greetings>h2.name {
        margin-left: 1em;
        margin-bottom: 10px;
        font-size: 3rem;
    }
    div.greetings>span.introduceText {
        margin-top: 1em;
        font-size: 0.8em;
        width: 30rem;
    }
    div.greetings>a.HireMe {
        margin-left: 4rem;
        width: 5rem;
        padding: 0.2rem;
    }
    div.image-half-round-shape {
        top: 9rem;
        left: 29rem;
        width: 5rem;
        height: 10rem;
    }
    div.image-half-round-shape-left {
        top: 10rem;
        left: 27rem;
        width: 5rem;
        height: 8rem;
    }
    div.image-half-round-shape-right {
        top: 8rem;
        left: 30rem;
        width: 6rem;
        height: 12rem;
    }
    div.socialLinks>a.github {
        left: 31rem;
        top: 9rem;
        width: 3rem;
        height: 3rem;
        font-size: 16px;
    }
    div.socialLinks>a.linkedIn {
        left: 31rem;
        top: 16rem;
        width: 3rem;
        height: 3rem;
        font-size: 16px;
    }
    div.service-wrapper {
        margin-top: 3rem;
    }
    h2.service-title {
        width: 95%;
        font-size: 2.5rem;
    }
    div.service-wrapper>div.container>ul.service-display {
        margin-left: 2rem;
    }
    div.service-wrapper>div.container>ul.service-display>li {
        margin-right: 1.5rem;
        width: 10rem;
        height: 22rem;
    }
    ul.service-display>li>i {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 3rem;
    }
    ul.service-display>li>p {
        font-size: 1.5rem;
    }
    ul.service-display>li>ul {
        margin-top: 0.5em;
    }
    ul.service-display>li>ul>li {
        margin-top: 1rem;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    div.greetings>h3.hello {
        margin-bottom: 0.5rem;
        font-size: 3rem;
    }
    div.greetings>h2.name {
        margin-left: 1em;
        margin-bottom: 10px;
        font-size: 4rem;
    }
    div.greetings>span.introduceText {
        margin-top: 1em;
        font-size: 1.5em;
        width: 45rem;
    }
    div.greetings>a.HireMe {
        margin-left: 4rem;
        width: 7rem;
        padding: 0.5rem;
        font-size: 1.2rem;
    }
    div.image-half-round-shape {
        top: 12rem;
        left: 41rem;
        width: 7rem;
        height: 14rem;
    }
    div.image-half-round-shape-left {
        top: 14rem;
        left: 40rem;
        width: 5rem;
        height: 10rem;
    }
    div.image-half-round-shape-right {
        top: 11rem;
        left: 43rem;
        width: 8rem;
        height: 16rem;
    }
    div.socialLinks>a.github {
        left: 44.5rem;
        top: 13rem;
        width: 4rem;
        height: 4rem;
        font-size: 16px;
    }
    div.socialLinks>a.linkedIn {
        left: 44.5rem;
        top: 21rem;
        width: 4rem;
        height: 4rem;
        font-size: 16px;
    }
    div.service-wrapper {
        margin-top: 3rem;
    }
    h2.service-title {
        width: 70%;
        font-size: 2.5rem;
    }
    div.service-wrapper>div.container>ul.service-display>li {
        margin-right: 1.5rem;
        width: 14rem;
        height: 29rem;
    }
    ul.service-display>li>i {
        margin-top: 2rem;
        margin-bottom: 2.5rem;
        font-size: 3rem;
    }
    ul.service-display>li>p {
        font-size: 2.5rem;
    }
    ul.service-display>li>ul {
        margin-top: 0.5em;
    }
    ul.service-display>li>ul>li {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1440px) {
    div.image-half-round-shape {
        top: 11rem;
        left: 52rem;
        width: 9rem;
        height: 16rem;
    }
    div.image-half-round-shape-left {
        top: 13rem;
        left: 50rem;
        width: 7rem;
        height: 12rem;
    }
    div.image-half-round-shape-right {
        top: 9rem;
        left: 54rem;
        width: 10rem;
        height: 20rem;
    }
    div.socialLinks>a.github {
        left: 56rem;
        top: 11.5rem;
        width: 4.5rem;
        height: 4.5rem;
        font-size: 20px;
    }
    div.socialLinks>a.linkedIn {
        left: 56rem;
        top: 22rem;
        width: 4.5rem;
        height: 4.5rem;
        font-size: 20px;
    }
    div.service-wrapper {
        margin-top: 3rem;
    }
    h2.service-title {
        width: 60%;
        font-size: 3rem;
    }
    div.service-wrapper>div.container>ul.service-display>li {
        margin-right: 3rem;
        width: 18rem;
        height: 35rem;
    }
    ul.service-display>li>i {
        margin-top: 3rem;
        margin-bottom: 2.5rem;
        font-size: 4rem;
    }
    ul.service-display>li>p {
        font-size: 3rem;
    }
    ul.service-display>li>ul {
        margin-top: 0.5em;
    }
    ul.service-display>li>ul>li {
        margin-top: 1rem;
        font-size: 2rem;
    }
}

@media screen and (min-width: 2560px) {
    div.greetings {
        margin-top: 3rem;
    }
    div.greetings>h3.hello {
        margin-bottom: 0.5rem;
        font-size: 4rem;
    }
    div.greetings>h2.name {
        margin-left: 1em;
        margin-bottom: 10px;
        font-size: 5rem;
    }
    div.greetings>span.introduceText {
        margin-top: 1em;
        font-size: 1.5em;
        width: 80rem;
    }
    div.greetings>a.HireMe {
        margin-left: 4rem;
        width: 7rem;
        padding: 0.5rem;
        font-size: 1.2rem;
    }
    div.image-half-round-shape {
        top: 11rem;
        left: 82rem;
        width: 9rem;
        height: 18rem;
    }
    div.image-half-round-shape-left {
        top: 13rem;
        left: 80rem;
        width: 7rem;
        height: 14rem;
    }
    div.image-half-round-shape-right {
        top: 9rem;
        left: 84rem;
        width: 11rem;
        height: 22rem;
    }
    div.socialLinks>a.github {
        left: 86rem;
        top: 8.5em;
        width: 5rem;
        height: 5rem;
        font-size: 22px;
    }
    div.socialLinks>a.linkedIn {
        left: 86rem;
        top: 23.5rem;
        width: 5rem;
        height: 5rem;
        font-size: 22px;
    }
    div.service-wrapper {
        margin-top: 6rem;
    }
    h2.service-title {
        width: 50%;
        font-size: 4rem;
    }
    div.service-wrapper>div.container>ul.service-display>li {
        margin-right: 10rem;
        width: 24rem;
        height: 42rem;
    }
    ul.service-display>li>i {
        margin-top: 5rem;
        margin-bottom: 4rem;
        font-size: 6rem;
    }
    ul.service-display>li>p {
        font-size: 3rem;
    }
    ul.service-display>li>ul {
        margin-top: 2.5em;
    }
    ul.service-display>li>ul>li {
        margin-top: 2rem;
        font-size: 2rem;
    }
}