@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");

div.row {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    white-space: nowrap;
    flex-wrap: wrap;
}
div.row>div.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
}
div.row>div.filter>button.btn {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    padding: 2%;
    font-size: 1rem;
    color: aliceblue;
    background-color: #0e32c1;
    border: 1px solid aliceblue;
    border-radius: 25px;
}
div.row>div.filter>button.btn-outline-secondary:hover {
    background-color: #6c757d;
}
div.row>div.filter>button.active {
    background-color: #6c757d;
}

div.row>div.projectContainer {
    display: flex;
    justify-content: center;
    white-space: normal;
    flex-wrap: wrap;
}
div.row>div.projectContainer>div.container {
    display: block;
    justify-content: center;
    width: 18rem;
    margin-top: 1rem;
    margin-right: 5%;
    padding: 2%;
    border-radius: 25px;
    background-image: linear-gradient(to bottom left, #050c37, rgba(0, 73, 0, 0.415), #050c37);
}
div.container>div.img-box {
    overflow: hidden;
}
div.img-zoom-container {
    position: relative;
}
img.image {
    position: relative;
    vertical-align: middle;
    height: 400px;
    width: 100%;
    max-width: 100%;
    /*transition: transform .2s;*/
}
/*
div.container>div.img-box>img.image:hover {
    overflow: auto;
    transform: scale(3);
}
*/
div.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
    z-index: 1;
  }
div.img-zoom-result {
  width: 400px;
  height: 400px;
  margin-top: 4%;
  border: 1px solid #6c757d;
}
div.content>h4 {
    display: flex;
    margin-top: 8%;
    font-size: 42px;
    font-weight: bold;
}
div.content>h4>a {
    text-decoration: none;
    color: aliceblue;
}
div.content>ul.tags {
    display: block;
    margin-top: 4%;
    list-style-type: none;
    box-sizing: border-box;
    font-weight: 300;
}
div.content>ul.tags>li {
    display: inline-block;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    margin-right: 4%;
}

@media screen and (max-width: 600px) {
    div.row>div.filter {
        width: 30rem;
    }
    div.row>div.filter>button.btn {
        font-size: 1.3rem;
        margin-top: 1rem;
    }
}
@media screen and (min-width: 600px) {
    div.row>div.filter {
        width: 20rem;
    }
    div.row>div.filter>button.btn {
        font-size: 2rem;
        margin-top: 1rem;
    }
    div.row>div.projectContainer>div.container {
        width: 22rem;
        margin-top: 1rem;
        margin-right: 5%;
        padding: 2%;
        }
}
@media screen and (min-width: 2000px) {
    div.row>div.filter {
        width: 20rem;
    }
    div.row>div.filter>button.btn {
        font-size: 2rem;
        margin-top: 0rem;
    }
    div.row>div.projectContainer>div.container {
        width: 38rem;
        margin-top: 1rem;
        margin-right: 2%;
        padding: 2%;
        }
    div.img-zoom-result {
    width: 600px;
    height: 500px;
        margin-top: 4%;
        border: 1px solid #6c757d;
      }
}

/* -------------------
    Responsive Media
    ------------------ */
    @media screen and (max-width: 320px) {
    
    }
    
    @media screen and (max-width: 375px) {
    
    }
    
    @media screen and (max-width: 425px) {
        
    }
    
    @media screen and (max-width: 768px) {
        
    }
    
    @media screen and (max-width: 1024px) {
        
    }
    
    @media screen and (max-width: 1440px) {
        
    }
    
    @media screen and (max-width: 2560px) {
        
    }