* {
    box-sizing: border-box;
}

body {
    background-color: #1f1f1f;
    color: aliceblue;
    font-family: cursive, sans-serif;
    margin: 10px;
}

ul.navigation {
    margin: right;
    width: auto;
    padding: 10px;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    border-radius: 5px;
}

div.topnav li {
    float: left;
    margin: 2px;
    padding: 8px;
    text-align: -10px;
    background-color: #526095;
    border-radius: 5px;
    border: solid 2px rgb(172, 131, 34);
}
div.topnav li:hover {
    background-color: #303a60;
    box-shadow: 0px 5px 15px 2px #C2C2C2;
    border: solid 2px rgb(172, 41, 34);
}
div.topnav li a {
    color: #C2C2C2;
    margin-right: 16px;
}
div.topnav li a:hover {
    color: rgb(26, 26, 26);
}