@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f1f1f;
    color: aliceblue;
    font-family: cursive, sans-serif;
    margin: 10px;
}

.cursor {
    position: relative;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 20px;
}

/*
.cursor .circle {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f44336;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
}
*/

.cursor .text {
    position: absolute;
    font-size: 2em;
    font-family: consolas;
    color: #00ff9a;
    text-shadow: 0 0 15px #00ff9a, 0 0 50px #00ff9a;
    text-transform: uppercase;
    transform: translate(-50%,-50%);
}

ul.navigation {
    margin: right;
    width: auto;
    padding: 10px;
    list-style-type: none;
    overflow: hidden;
    display: block;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    border-radius: 5px;
}

div.sites {
    margin: right;
    width: auto;
    justify-content: right;
    display: flex;
}

div.topnav li {
    float: left;
    margin: 2px;
    padding: 8px;
    text-align: -10px;
    background-color: #526095;
    border-radius: 5px;
    border: solid 2px rgb(172, 131, 34);
}
div.topnav li:hover {
    background-color: #303a60;
    box-shadow: 0px 5px 15px 2px #C2C2C2;
    border: solid 2px rgb(172, 41, 34);
}
div.topnav li a {
    color: #C2C2C2;
    margin-right: 16px;
}
div.topnav li a:hover {
    color: rgb(26, 26, 26);
}

div.ExampleNavigation ul li a .icon, .naviText {
    color: #222327;
}

div.ExampleNavigation {
    margin: 15px;
    position: relative;
    width: 400px;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

div.ExampleNavigation ul {
    display: flex;
    width: 350px;
    padding: 0;
}

div.ExampleNavigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 60px;
    z-index: 2;
}

div.ExampleNavigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

div.ExampleNavigation li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

div.ExampleNavigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
}

div.ExampleNavigation ul li.active a .icon {
    transform: translateY(-18px);
}

div.ExampleNavigation ul li a .naviText {
    position: absolute;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
}

div.ExampleNavigation ul li.active a .naviText {
    position: absolute;
    background: tomato;
    padding: 2px 7px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 1;
    transform: translateY(35px);
}

li.active a .naviText {
    opacity: 1;
    transform: translateY(10px);
}

div.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: tomato;
    box-sizing: border-box;
    border-radius: 50%;
    border: 6px solid #222327;
    transition: 0.5s;
}

div.indicator::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background: transparent;
}

div.indicator::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background: transparent;
}

div.indicator::before {
    left: -22px;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 #222327;
}

div.indicator::after {
    right: -22px;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 #222327;
}

div.ExampleNavigation li.active ~ div.indicator {
    --x: 0;
    transform: translateX(var(--x));
}

div.ExampleNavigation li:nth-child(2).active ~ .indicator { --x: 70px; }
div.ExampleNavigation li:nth-child(3).active ~ .indicator { --x: 140px; }
div.ExampleNavigation li:nth-child(4).active ~ .indicator { --x: 210px; }
div.ExampleNavigation li:nth-child(5).active ~ .indicator { --x: 280px; }